<!DOCTYPE html>
<html>
  <head>
    <title> Carrito </title>
    <style>
    html {
        margin-left: 5px;
    }
    h1 {
        margin-left: 10px;
    }
    th, td {
        padding: 5px;
        border: 1px solid black;
        text-align: center;
    }
    th, td {
        width: 100px;
        height: 34px;
    }
    th {
        background-color: rgb(196, 196, 196);
    }
    tr:nth-child(odd) {
        background-color: rgb(238, 238, 238);
    }
    a {
        float: left;
        margin: 10px 10px 0 0;
        padding: 2px;
        border: 1px solid rgb(29, 29, 29);
        color: black;
    }
    #blue {
        color: black;
        text-decoration: none;
    }
    #blue:hover {
        background-color: rgb(109, 214, 255);
    }
    #green {
        float: left;
        margin: 10px 10px 0 0;
        padding: 2px;
        border: 1px solid rgb(29, 29, 29);
        background-color: white;
    }
    #green:hover {
        background-color: rgb(139, 255, 110);
    }
    </style>
  </head>
  <body>
    <h1> Carrito </h1>
    <table>
        <tr>
            <th> Ref </th>
            <th> Nombre </th>
            <th> Unidades </th>
            <th> P/V </th>
            <th> Subtotal </th>
        </tr>
    
        <tr>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
       </tr>
    
        <tr>
            <td> Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </table>
    <a id="blue" href="/"> Seguir Comprando </a>
    <form action="/checkout" method="POST">
        <input type="submit" id="green" value="Finalizar compra">
    </form>
</body>
</html>
